<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>AvailJS - Webpack App</title>
    </head>
    <body>
        <canvas></canvas>
        <%= htmlWebpackPlugin.tags.bodyTags %>
        <script>
        const canvas = document.getElementsByTagName('canvas')[0];
        const scene = new AvailJS.Scene([
            new AvailJS.modules.shapes.Renderer(canvas),
        ]);

        const entity = scene.entityManager.createEntity();
        scene.entityManager.addComponents(
            entity,
            new AvailJS.modules.Transform(
                [canvas.width / 2, canvas.height / 2],
            ),
            new AvailJS.modules.shapes.Rect(
                canvas.width / 2, canvas.height / 2
            ),
            new AvailJS.modules.shapes.Material()
        );

        scene.start();
        </script>
    </body>
</html>
